//
   Created by Wilsons on 7/11/17.

html
    head
        title Flex Rotator

    body
        .wrapper
            .roller
                .roller__content
                    .item__logo.item__logo--1
                    .item__logo.item__logo--2
                    .item__logo.item__logo--3
                    .item__logo.item__logo--4
                    .item__logo.item__logo--5
                    .item__logo.item__logo--6
                    .item__logo.item__logo--7
                    .item__logo.item__logo--8
                    .item__logo.item__logo--9
                    .item__logo.item__logo--10
                    .item__logo.item__logo--11
                    .item__logo.item__logo--12
                    .item__logo.item__logo--13
                    .item__logo.item__logo--14

        .attribution
            a.attribution__link(href="" target="blank") Helvetica Logos by Vincent Beneche     